@import "tailwindcss";
@plugin "daisyui";

:root {
  --color-light-base: #d4ceca;
  --color-light-base-2: #cbbeb6;
  --color-light-base-3: #cbad9a;
  --color-light-smooth-content: #8d5d3f;

  --color-dark-base: #1a1817;
  --color-dark-base-2: #261a16;
  --color-dark-base-3: #3f2d24;
  --color-dark-smooth-content: #927665;

  --color-1: #007179;
  --color-1-content: #f9e4f0;
  --color-1-smooth: #316d70;

  --color-2: #fd8540;
  --color-2-content: #3d200e;
  --color-2-smooth: #ebb392;

  --color-dark-accent: #883c04;
  --color-dark-accent-content: #fbefe9;

  --color-light-accent: #0e454c;
  --color-light-accent-content: #e7f1f0;
}

@plugin "daisyui/theme" {
  name: "levitation";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: var(--color-light-base);
  --color-base-200: var(--color-light-base-2);
  --color-base-300: var(--color-light-base-3);
  --color-base-content: var(--color-dark-base);
  --color-primary: var(--color-1);
  --color-primary-content: var(--color-1-content);
  --color-secondary: var(--color-2);
  --color-secondary-content: var(--color-2-content);
  --color-neutral: var(--color-1-smooth);
  --color-neutral-content: var(--color-light-smooth-content);
  --color-accent: var(--color-light-accent);
  --color-accent-content: var(--color-light-accent-content);
  --radius-selector: 0.3rem;
  --radius-field: 0.3rem;
}

@plugin "daisyui/theme" {
  name: "nightflight";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: var(--color-dark-base);
  --color-base-200: var(--color-dark-base-2);
  --color-base-300: var(--color-dark-base-3);
  --color-base-content: var(--color-light-base);
  --color-primary: var(--color-2);
  --color-primary-content: var(--color-2-content);
  --color-secondary: var(--color-1);
  --color-secondary-content: var(--color-1-content);
  --color-neutral: var(--color-2-smooth);
  --color-neutral-content: var(--color-dark-smooth-content);
  --color-accent: var(--color-dark-accent);
  --color-accent-content: var(--color-dark-accent-content);
  --radius-selector: 0.11rem;
  --radius-field: 0.2rem;
  /* --radius-box: 0.5rem; */
  /* --size-selector: 0.25rem; */
  /* --size-field: 0.25rem; */
  /* --border: 1px; */
  /* --depth: 1; */
  /* --noise: 0; */
}

@theme {
  --font-transducer: var(--font-transducer);
  --font-transducer-extended: var(--font-transducer-extended);
  --font-saira: var(--font-saira);
  --font-geist-mono: var(--font-geist-mono);

  --color-*: initial;

  --color-primary: var(--p);
  --color-primary-content: var(--pc);

  --color-secondary: var(--s);
  --color-secondary-content: var(--sc);

  --color-accent: var(--a);
  --color-accent-content: var(--ac);

  --color-neutral: var(--n);
  --color-neutral-content: var(--nc);

  --color-base-100: var(--b1);
  --color-base-200: var(--b2);
  --color-base-300: var(--b3);
  --color-base-content: var(--bc);

  --color-info: var(--in);
  --color-info-content: var(--inc);

  --color-success: var(--su);
  --color-success-content: var(--suc);

  --color-warning: var(--wa);
  --color-warning-content: var(--wac);

  --color-error: var(--er);
  --color-error-content: var(--erc);

  --radius-selector: var(--rounded-badge, 1rem);
  --radius-field: var(--rounded-btn, 0.25rem);
  --radius-box: var(--rounded-box, 0.5rem);
}

html {
  scroll-behavior: smooth;
}

a[href^="http"]:not(.unstiled-link),
a[href^="mailto"]:not(.unstiled-link) {
  color: var(--color-neutral);
  text-decoration: underline dotted var(--color-neutral);
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  @apply pb-1;
}

@layer components {
  .animated-underline {
    --underline-color: currentColor;
    --underline-height: 2px;

    @apply inline bg-bottom-left bg-no-repeat 
           transition-[background-size] duration-300 ease-out;

    background-image: linear-gradient(
      var(--underline-color),
      var(--underline-color)
    );
    background-size: 0% var(--underline-height);
  }

  .animated-underline:hover {
    background-size: 100% var(--underline-height);
  }

  .group:hover .group-animated-underline {
    background-size: 100% var(--underline-height);
  }

  .general-content-margins {
    @apply mx-auto max-w-3xl xl:max-w-5xl;
  }

  .header-paddings {
    @apply px-4 sm:px-6 xl:px-0;
  }

  .footer-paddings {
    @apply px-0 sm:px-6 xl:px-0;
  }

  .footer-inside-paddings {
    @apply px-8 sm:px-6;
  }

  .body-content-paddings {
    @apply px-6 sm:px-12 xl:px-4;
  }
}
