@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

@plugin "daisyui/theme" {
  name: "levitation";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(0.9 0.0082 36.55);
  --color-base-200: oklch(0.2188 0.0462 252.75);
  --color-base-300: oklch(12% 0.042 264.695);
  --color-base-content: oklch(0.25 0.0072 48.42);
  --color-primary: oklch(0.5 0.0853 203.39);
  --color-primary-content: oklch(0.2 0.0743 266.23);
  --color-secondary: oklch(0.74 0.1671 47.75);
  --color-secondary-content: oklch(0.28 0.0533 50.83);
  --color-accent: oklch(0.48 0.099 161.34);
  --color-accent-content: oklch(0.9296 0.0041 301.42);
  --color-neutral: oklch(0.7008 0.1221 178.96);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(0.6971 0.1262 265.1);
  --color-info-content: oklch(0.9296 0.0041 301.42);
  --color-success: oklch(0.7266 0.1856 151.4);
  --color-success-content: oklch(0.9296 0.0041 301.42);
  --color-warning: oklch(0.8136 0.1241 122.33);
  --color-warning-content: oklch(0.2188 0.0462 252.75);
  --color-error: oklch(0.6152 0.1778 23.2);
  --color-error-content: oklch(0.9296 0.0041 301.42);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "nightflight";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(0.21 0.0037 48.54);
  --color-base-200: oklch(0.2188 0.0462 252.75);
  --color-base-300: oklch(12% 0.042 264.695);
  --color-base-content: oklch(0.9326 0.0041 301.42);
  --color-primary: oklch(0.74 0.1671 47.75);
  --color-primary-content: oklch(0.2 0.0743 266.23);
  --color-secondary: oklch(0.5 0.0853 203.39);
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: oklch(0.48 0.099 161.34);
  --color-accent-content: oklch(0.9296 0.0041 301.42);
  --color-neutral: oklch(0.7008 0.1221 178.96);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(0.6971 0.1262 265.1);
  --color-info-content: oklch(0.9296 0.0041 301.42);
  --color-success: oklch(0.7266 0.1856 151.4);
  --color-success-content: oklch(0.9296 0.0041 301.42);
  --color-warning: oklch(0.8136 0.1241 122.33);
  --color-warning-content: oklch(0.2188 0.0462 252.75);
  --color-error: oklch(0.6152 0.1778 23.2);
  --color-error-content: oklch(0.9296 0.0041 301.42);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-transducer: "Transducer", sans-serif;
  --font-transducer-entended: "TransducerExtended", sans-serif;

  --color-*: initial;

  --color-primary: var(--p);
  --color-primary-content: var(--pc);

  --color-secondary: var(--s);
  --color-secondary-content: var(--sc);

  --color-accent: var(--a);
  --color-accent-content: var(--ac);

  --color-neutral: var(--n);
  --color-neutral-content: var(--nc);

  --color-base-100: var(--b1);
  --color-base-200: var(--b2);
  --color-base-300: var(--b3);
  --color-base-content: var(--bc);

  --color-info: var(--in);
  --color-info-content: var(--inc);

  --color-success: var(--su);
  --color-success-content: var(--suc);

  --color-warning: var(--wa);
  --color-warning-content: var(--wac);

  --color-error: var(--er);
  --color-error-content: var(--erc);

  --radius-selector: var(--rounded-badge, 1rem);
  --radius-field: var(--rounded-btn, 0.25rem);
  --radius-box: var(--rounded-box, 0.5rem);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: Transducer;
  /* src: url("/static/fonts/transducer/transducer-regular.otf"); */
  src: url("/fonts/transducer/transducer-regular.otf");
}
@font-face {
  font-family: TransducerExtended;
  src: url("/fonts/transducer/transducer-extendedregular.otf");
}
