@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-transducer: "Transducer", sans-serif;
  --font-transducer-entended: "TransducerExtended", sans-serif;

  /* 1. Clear the default Tailwind palette from IntelliSense */
  --color-*: initial;

  /* 2. Map Tailwind names to DaisyUI's dynamic variables */
  /* This keeps your theme switcher working! */

  --color-primary: var(--p);
  --color-primary-content: var(--pc);

  --color-secondary: var(--s);
  --color-secondary-content: var(--sc);

  --color-accent: var(--a);
  --color-accent-content: var(--ac);

  --color-neutral: var(--n);
  --color-neutral-content: var(--nc);

  --color-base-100: var(--b1);
  --color-base-200: var(--b2);
  --color-base-300: var(--b3);
  --color-base-content: var(--bc);

  --color-info: var(--in);
  --color-info-content: var(--inc);

  --color-success: var(--su);
  --color-success-content: var(--suc);

  --color-warning: var(--wa);
  --color-warning-content: var(--wac);

  --color-error: var(--er);
  --color-error-content: var(--erc);

  /* 3. Map the Radii you mentioned */
  --radius-selector: var(--rounded-badge, 1rem);
  --radius-field: var(--rounded-btn, 0.25rem);
  --radius-box: var(--rounded-box, 0.5rem);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: Transducer;
  /* src: url("/static/fonts/transducer/transducer-regular.otf"); */
  src: url("/fonts/transducer/transducer-regular.otf");
}
@font-face {
  font-family: TransducerExtended;
  src: url("/fonts/transducer/transducer-extendedregular.otf");
}
